@font-face {
  font-family: "source-pro-regular";
  src: url("./SourceSansPro-Regular.woff2") format("woff2"),
  url("./SourceSansPro-Regular.woff") format("woff");
};

@font-face {
  font-family: "source-pro-bold";
  src: url("./SourceSansPro-Bold.woff2") format("woff2"),
  url("./SourceSansPro-Bold.woff") format("woff");
};

@font-face {
  font-family: "source-pro-light";
  src: url("./SourceSansPro-Light.woff2") format("woff2"),
  url("./SourceSansPro-Light.woff") format("woff");
};


